body{
    min-width: 500px;
    min-height: 400px;
    height: 400px;
    background:#ffffff;
}

#write-screen{
    float: left;
    width: 48%;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #d9d9d9;
}

#text-contain{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#text{
    width: 100%;
    flex: 1;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    resize: none;
    border: none;
    color: #333;
    padding: 10px 10px;
    overflow: auto;
}

#show-screen{
    float: left;
    flex:0 0 auto;
    width: 48%;
    height: 100%;
    background: #fafcf2;
    color: #333;
    overflow-y: auto;
    padding: 10px 10px;
}

